<%= javascript_include_tag :defaults %>
<div id="container">
  <div id = "banner">
    <a href = "/vtodos/"><img src = "/images/logo.png" alt = "dooit example"/></a>
  </div><!--banner-->
  <div id = "index_all">
    <%= render(:partial => "index_part") %>
  </div><!--index_all-->
  <div id = "footer">
    dooit / revision 2008-0??
  </div><!--footer-->
</div><!--container-->
